<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="person.zxc.ms.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="person.zxc.ms.model.User">
		<id column="id" property="id" />
		<result column="nickname" property="nickname" />
		<result column="real_name" property="realName" />
		<result column="password" property="password" />
		<result column="mobile" property="mobile" />
		<result column="area_code" property="areaCode" />
		<result column="role" property="role" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

</mapper>
